<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <th:block th:replace="_layout :: link-css"> </th:block>
    <th:block th:replace="_layout :: link-css1"> </th:block>
    <th:block th:replace="_layout :: link-css2"> </th:block>
    <th:block th:replace="_layout :: link-fontawesome"> </th:block>
    <th:block th:replace="_layout :: link-fontfamily"> </th:block>
    <th:block th:replace="_layout :: link-preconnect"> </th:block>
</head>
<body>
<th:block th:replace="_layout :: header"></th:block>
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/">Home</a>
                <span class="breadcrumb-item active">Product</span>
                <span class="breadcrumb-item active">Create</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<div class="container">
    <h3 class="card-title text-center">Create Category</h3>
    <form action="#" th:action="@{/category/createProductCategory}" th:object="${category}" method="POST">
        <div class="col-6 mb-3">
            <label class="form-label" >Name:</label>
            <input type="text" th:field="*{name}" class="form-control mb-4 col-4" placeholder="Name">
        </div>

        <div class="col-6 mb-3">
            <label class="form-label">Image:</label>
            <input type="text" th:field="*{imageUrl}"  class="form-control mb-4 col-4" placeholder="Image">
        </div>

        <button type="submit" class="btn btn-info col-2">Save Category</button>
    </form>

    <a th:href="@{/}"> Back</a>
</div>


<th:block th:replace="_layout :: footer"></th:block>

<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

</body>
</html>