<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <th:block th:replace="_layout :: link-css"> </th:block>
    <th:block th:replace="_layout :: link-css1"> </th:block>
    <th:block th:replace="_layout :: link-css2"> </th:block>
    <th:block th:replace="_layout :: link-fontawesome"> </th:block>
    <th:block th:replace="_layout :: link-fontfamily"> </th:block>
    <th:block th:replace="_layout :: link-preconnect"> </th:block>
</head>

<body>


<th:block th:replace="_layout :: header"></th:block>

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3" th:text="${ProductCategory.name}"> Category </span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" th:each="Product : ${products}">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" th:src="@{/img/__${Product.imageUrl}__}" alt="">
                    <div class="product-action">
<!--                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>-->
                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="text-center py-4">
                    <a class="h6 text-decoration-none text-truncate" th:text="${Product.name}" href="">Product Name Goes Here</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h5 th:text="${Product.price}">$123.00</h5><h6 class="text-muted ml-2" th:text="${Product.price}"><del>$123.00</del></h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-center mb-1">
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small class="fa fa-star text-primary mr-1"></small>
                        <small>(99)</small>
                        <form th:action="@{/cart/add/{id}(id=${Product.id})}" method="post">
                            <button type="submit" class="btn btn-square" style="position: relative;opacity: 1;margin-left: 7px;"><i class="fa fa-shopping-cart"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="_layout :: footer"></th:block>


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/easing/easing.min.js}"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>

<!-- Contact Javascript File -->
<script th:src="@{/mail/jqBootstrapValidation.min.js}"></script>
<script th:src="@{/mail/contact.js}"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}"></script>
</body>